@import '../node_modules/@syncfusion/ej2-base/styles/material.css';
@import '../node_modules/@syncfusion/ej2-layouts/styles/material.css';
@import '../node_modules/@syncfusion/ej2-buttons/styles/material.css';
@import '../node_modules/@syncfusion/ej2-popups/styles/material.css';
@import '../node_modules/@syncfusion/ej2-react-navigations/styles/material.css';

:root{
--ff-mono: ui-monospace, 'SFMono-Regular', 'SF Mono', 'Menlo', 'Consolas',
'Liberation Mono', monospace;

 --primary-bg-color: #000914;

word-break: break-word;
}

html {
  overflow-x: hidden;
}

code,
kbd,
pre,
textarea,
.write,
.draw {
  font-family: var(--ff-mono);
  font-feature-settings: normal;
  font-size: smaller;

}

h1,h2,h3,h4,h5,h6 {
  text-decoration: underline;
  text-decoration-color: #b6b4b4;
  text-decoration-thickness: 1px;
  text-underline-offset: 10px;
  padding: 1vh;
}

table {
  width:fit-content;
  border-collapse: collapse;
  border: 1px solid #ddd;
  margin-bottom: 20px;
  text-align: center;
}

th, td {
  border: 1px solid #ddd;
  padding: 10px 5px;
  text-align: center;

}

th {
  background-color: #1a1818;
  border: 1px solid #ddd;
}

code
{
  border-radius: 5px;
  padding: .1em .5em;
  background-color: #3636367e;

}

pre {
  overflow-y:hidden;
  overflow-x: auto;
  padding: 2vh 1vw ;
  background-color: #0000008a;
}

.container{
  width: 100vw
}

.inner-container {
  width: 100%;
  background-color: var(--primary-bg-color);
  overflow: hidden;
}

.input-editor {
  width: 100%;
  height: 90vh;
  resize: both;
  border-radius: 5px;
}


textarea.markdown-input {

  background-color: var(--primary-bg-color);
  color: white;
  padding: 2vh 3vw;
  border: white;
  border-radius: 5px;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}


.markdown {
  overflow-y: auto;
  background-color: var(--primary-bg-color);
  color: white;
  height: 90vh;
  padding: 2vh 1vw;
  width: 45vw;
  border-radius: 5px;
}
.markdown-previewer{
  color: white;
  background-color: var(--primary-bg-color);
  padding: 2vh 3vw;
}

#plain {
  border: 1px solid rgb(182, 177, 177);
  border-radius: 10px;
  margin-top: 2em;
}

div.e-split-bar-horizontal::after, div.e-split-bar-horizontal::before{
  background-color: rgba(2, 30, 63, 0.459)
}


.headers {
  position: flxed;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: start;
  background-color: var(--primary-bg-color) !important;
  color: white;
  padding: 2vh 2vw;
  padding-left: 7vw;

}

.headers div input, .headers div label {
  outline: none !important;
  color: aliceblue;
  border: none;
  border-radius: 0 !important;
  background-color: var(--primary-bg-color) !important;
}

.e-tab-text{
  color: white;
}

.e-tab-text::hover{
  color: tomato !important;
}

#split-view.active , #tab-view.active {
  background-color: #DC3545;
}

#split-view , #tab-view{
color: white;
border: none;
}

/* Hide the default file input button */
input[type="file"] {
  display: none;
}

/* Style the custom file input container */
.label-wrapper {
  display: inline-block;
  position: relative;
}

/* Style the custom button that looks like an icon */
.custom-button {
  background-color: #3498db !important;
  color: #fff;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
}

/* Position the file input over the custom button */
input[type="file"] {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer;
}


@media only screen and (max-width:930px)
{
 .row.inner-container {

  box-sizing: border-box;
 }

 #plain {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  padding: 10px;
 }

 .inner-container {
  padding: 2vw 3vh !important;
 }


}




