body {
    padding: 0;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
}

#root {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0;
    width: 100%;
    box-sizing: border-box;

    background-color: #000914;
    margin: 0;
}

svg {
    pointer-events: none;
}
p > img {
    width: 100%;
}

blockquote {
    margin-left: 2vw;
}

blockquote > p {
    padding-left: 0.5vw;
    border-left: 4px solid rgb(224, 216, 216);
}

::-webkit-scrollbar {
width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
box-shadow: inset 0 0 5px rgba(255, 255, 255, 0);
border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
background: rgb(255, 255, 255);
border-radius: 5px;
}